/* Reset de margens e preenchimentos */
body, h1, p, button {
    margin: 0;
    padding: 0;
}

/* Estilo do corpo da extensão */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
}

/* Estilo do título */
h1 {
    color: #4285f4; /* Azul do Google Chrome */
    text-align: center;
}

/* Estilo do botão */
button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

button:hover {
    background-color: #3367d6;
}